//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:			'Roboto',sans-serif; 
$mainFontSize:		18px;
$mainFontHeight:	24px;
$mainFontWeight:	normal;
$mainFontColor:		#1c1c1c;

// Variables => Colors
//----------------------------------------------------//
$default:$mainFontColor;
$themeColor: #7094f7;
$secondaryThemeColor: #18c3c8;
$linkColor:#1940ad;