/mycuracare/*
**/node_modules
mockup
.vs
/Application/Build/src/ClearPluginAssemblies/bin
/Application/Build/src/ClearPluginAssemblies/obj
/Application/Presentation/Nop.Web.Framework/obj
/Application/Presentation/Nop.Web.Framework/bin
/Application/Tests/Nop.Core.Tests/obj
/Application/Tests/Nop.Core.Tests/bin
/Application/Tests/Nop.Services.Tests/obj
/Application/Tests/Nop.Services.Tests/bin
/Application/Tests/Nop.Tests/obj
/Application/Tests/Nop.Tests/bin
/Application/Tests/Nop.Web.MVC.Tests/obj
/Application/Tests/Nop.Web.MVC.Tests/bin
/Application/Libraries/Nop.Core/obj
/Application/Libraries/Nop.Core/bin
/Application/Libraries/Nop.Data/obj
/Application/Libraries/Nop.Data/bin
/Application/Libraries/Nop.Services/obj
/Application/Libraries/Nop.Services/bin
/Application/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
/Application/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj
/Application/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
/Application/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
/Application/Plugins/Nop.Plugin.Payments.Manual/obj
/Application/Plugins/Nop.Plugin.Payments.PayPalStandard/obj
/Application/Plugins/Nop.Plugin.Payments.Square/obj
/Application/Plugins/Nop.Plugin.Payments.Worldpay/obj
/Application/Plugins/Nop.Plugin.Pickup.PickupInStore/obj
/Application/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj
/Application/Plugins/Nop.Plugin.Shipping.UPS/obj
/Application/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj
/Application/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
/Application/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/Application/Plugins/Widgets.QuickFilter/obj
/Application/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/bin
/Application/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/bin
/Application/Plugins/Nop.Plugin.ExternalAuth.Facebook/bin
/Application/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/bin
/Application/Plugins/Nop.Plugin.Payments.Manual/bin
/Application/Plugins/Nop.Plugin.Payments.PayPalStandard/bin
/Application/Plugins/Nop.Plugin.Payments.Square/bin
/Application/Plugins/Nop.Plugin.Payments.Worldpay/bin
/Application/Plugins/Nop.Plugin.Pickup.PickupInStore/bin
/Application/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/bin
/Application/Plugins/Nop.Plugin.Shipping.UPS/bin
/Application/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/bin
/Application/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/bin
/Application/Plugins/Nop.Plugin.Widgets.NivoSlider/bin
/Application/Plugins/Widgets.QuickFilter/bin

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
Jobs
bin
obj
/Application/Presentation/Nop.Web/Plugins
