.download{
	.download-link{
		display: block;
		.icon{
			display: block;
			svg{
				fill:$themeColor;
				max-height:45px;
				max-width:160px;
			}
		}
	}
	&-bg{
		img{
			height:460px;
			width:auto;
			max-width:none;
		}
	}
}