<footer class="footer">
	<div class="container">
		<nav class="footer__nav">
			<div class="footer__nav-col">
				<h4 class="mob-collapse"><span>Customer</span></h4>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">How It Works</a>
					</li>
					<li>
						<a href="#">Services Near Me</a>
					</li>
					<li>
						<a href="#">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav-col">
				<h4 class="mob-collapse"><span>Provider</span></h4>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">How It Works</a>
					</li>
					<li>
						<a href="#">Services Near Me</a>
					</li>
					<li>
						<a href="#">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav-col">
				<h4 class="mob-collapse"><span>Support</span></h4>
				<ul>
					<li class="faq__link">
						<a href="#">FAQ & Support</a>
					</li>
					<li>
						<a href="#">Privacy Polity</a>
					</li>
					<li>
						<a href="#">Term of Use</a>
					</li>
					<li>
						<a href="#">Cookie Policy</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav-col">
				<h4 class="mob-collapse"><span>Company</span></h4>
				<ul>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Partnership</a>
					</li>
					<li>
						<a href="#">Careers</a>
					</li>
					<li>
						<a href="#">Press</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav-col">
				<h4 class="mob-collapse"><span>Links</span></h4>
				<ul class="social-links">
					<li>
						<a href="https://www.facebook.com/" target="_blank" class=""><i class="icon fab fa-facebook-f"></i>Facebook</a>
					</li>
					<li>
						<a href="https://twitter.com/" target="_blank" class=""><i class="icon fab fa-twitter"></i>Twitter</a>
					</li>
					<li>
						<a href="https://www.instagram.com/" target="_blank" class=""><i class="icon fab fa-instagram"></i>Instagram</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/" target="_blank" class=""><i class="icon fab fa-linkedin-in"></i>LinkedIn</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav-col">
				<h4>Download the app</h4>
				<ul class="app-links">
					<li>
						<a href="#">
							<svg><use xlink:href="#app_store_btn" /></svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg><use xlink:href="#google_play_btn" /></svg>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</footer>